table {
    border: 3px solid;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    vertical-align: middle;
    text-align: left;
    font-size: 15px;
    font-family: "Orelega One";
    font-size: 5mm;
    margin: 100px 30px 10px 420px;
    padding: 10px 20px;
    background-image: linear-gradient(yellow, red);
    transform: rotateX(20deg);
}