$border-color: crimson;

.bordesPagina {
    @if $border-color == crimson {
        border-width: 10px;
        border-style: inset;
        border-radius: 10%;
        background-color:white;
        animation-duration: 2s;
        animation-name: aparecer;
        border-color: crimson;
    } @else if $border-color == orangered {
        border-width: 10px;
        border-style: inset;
        border-radius: 10%;
        background-color:white;
    } @else if $border-color == lightskyblue {
        border-width: 10px;
        border-style: inset;
        border-radius: 10%;
        background-color:white;
    }
}

@mixin color-invertido ($border-color, $border-width, $border-style, $border-radius, $background-color, $height) {
    border-color: $border-color;
    border-width: $border-width;
    border-style: $border-style;
    border-radius: $border-radius;
    background-color: $background-color;
    height: $height;
}

.div-centro-servicios {
    margin-left: 0px;
    margin-top: 100px;
    max-width: 650px;
    max-height: 10px;
    display: inline-block; 
}

.div-garantia-oficial {
    margin: 0px 0px 100px 0px;
    max-width: 650px;
    padding: 0px 0px 200px 600px;
}